deprecated
NmapParser
psycopg2
chardet
validators
scapy
nmap
pymongo
boto
python-libnmap
simplejson
sphinx
sphinx_rtd_theme
nessrest
requests
maltego-trx
pymisp
sploitkit
openvas-reporting
openvas-lib
pymetasploit3
urllib3
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability